BorderPane {
    -fx-border-width: 10;
    -fx-border-color: #8F5A3C;
    -fx-background-color: #FAD689;
}

Button {
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-background-color: #6A4028;
    -fx-font-size: 25;
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-text-fill: #CB4042;
}

Label {
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-text-fill: #CB4042;
}
